[directories]
output = <screenshot directory>

[highlight_element]
length = <highlight_element length>
width = <highlight_element width>
color = <highlight_element color>

[text_box]
height = <text box height>
color = <text box color>
is_enabled = <boolean value>

[keybindings]
secondary_screenshot_capture_key = <keyboard key to press when capturing a screenshot, in addition to the mouse key>
termination_key = <keyboard key to press to terminate the program>